<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="script.js" defer></script>
    <title>NASA APOD</title>
</head>
<body>
    <header>
        <h1><a title="Nasa's API's" href="https://api.nasa.gov/" target="_blank">NASA</a><span class="desktop-APOD">Astronomy Picture Of The Day</span><a title="My Github" href="https://github.com/r20222" target="_blank">r20222</a></h1>
    </header>
