@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #a9def9;
    margin:0rem;
}
header{
    background-color: #00b4d8;
    padding: 1rem;
}
header h1{
    margin-top: 0rem;
    margin-bottom:0rem;
    /* color:#C1001C; */
    color:black;
    display: flex;
    justify-content: space-between;
}
.desktop-APOD{
    display: none;
}
header a{
    color:black;
}
header a:hover{
    color:white;
    text-decoration-color: hotpink;
}
main{
    margin:0 1rem 0 1rem;
}

form{
    display: flex;
}
h3{
    height:3.5rem;
}
input{
    border:none;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #fcf6bd;
    height:2rem;
    color: black;
}
input:nth-of-type(1){
    margin-right:1rem;
    padding: 0 .3rem;
}
input:hover{
    cursor: pointer;
}
.day-picker{
    margin-right:.5rem;
    padding: 0;
    font-size: .8rem;
}
.image-container, button{
    width:100%;
    height:20rem;
    overflow: hidden;
    background-color: black;
    border:none;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img-popover-container{
    width:95%;
    height:95%;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
}
.image-popover:hover{
    cursor: pointer;
}
.popover-close{
    position: absolute;
    width:fit-content;
    height: fit-content;
    color:white;
    right:0rem;
    font-size: 1.5rem;
}
.popover-close:hover{
    cursor: pointer;
}
.popover-not-working{
    display:none;
}

.copyright{
    color:#fcf6bd;
    /* z-index: 100; */
    position: relative;
    top:-4rem;
    left:.5rem;
    width:fit-content;
    background-color: rgba(0, 0, 0, .8);
    /* left:100%; */
}
.explanation{
    background-color: #caf0f8;
    padding:.5rem;
}
.comments{
    padding:.5rem;
    background-color: #00b4d8;
}
.no-messages-yet{
    padding-left:.5rem;
}
/* meer dan 3 berichten */
.comments .messages:nth-last-child(-n+3) {
    display: block;
}

.column-reverse{
    display: flex;
    flex-direction: column-reverse;
    gap:0;
}
.messages.js-enabled{
    display: none;
}
.more-messages{
    display: none;
    border:none;
    width:100% ;
    background-color: #fcf6bd;
    padding: .3rem 0;
    border-radius:.4rem;
}
.more-messages.js-enabled.four-plus-messages{
    display:block;
}
.messages.js-enabled.more-messages-clicked{
    display: block;
}
.messages{
    background-color: #caf0f8;
    padding:.5rem;
    border-radius: .5rem;
    margin: .5rem 0 .5rem 0;
}

.messages h5{
    margin: 0 0 auto 0;
    display: flex;
    justify-content: space-between;
}
.add-message, .comments h4{
    padding-left: .5rem;
}
.post-form{
    display: flex;
    flex-direction: column;
    
    gap:1rem;
    border: none;
    width: 100%;
    padding:.5rem;
    margin:0rem;
}
.post-form label{
    display: flex;
    flex-direction: column;
}
.post-form input{
    background-color: #fcf6bd;
    margin-right:0rem;
}

footer{
    height:5rem;
}


/* mediaqueries */

/* 368px is 23 em */
@media screen and (min-width: 23em){
    .day-picker{
        margin-right:.5rem;
        padding: .3rem 0;
        font-size: 1rem;
    }
}

/* 800px is 50em */

@media screen and (min-width: 50em){
    /* body{
        background-color: yellow;
    } */
    main{
        display:flex;
        margin-right:0;
    }
    .left-desktop{
        width:65%;
        margin-right:1rem;
        margin-top: 1rem;
    }
    .day-picker{
        margin-right:.5rem;
        padding: 0;
        font-size: 1.3rem;
    }
    .right-desktop{
        width:35%;
        padding:1rem;
        background-color: #168aad;
    }
    .explanation p{
       max-width:40rem;
    }
    .comments{
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:0;
        background-color: #168aad;
    }

/* image */
.image-container, button{
    height:28rem;
}
/* APOD */
h2{
    display: none;
}
.desktop-APOD{
    display: block;
}
}